@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gravitas+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

$background-color: #fff0df;
$primary-color: #292524;
$secondary-color: #fdaab3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;

    header {
        nav {
            h1 {
                font-size: 1.5rem;
                font-weight: bold;
                font-family: "Bebas Neue", sans-serif;
                user-select: none;
            }
        }
    }
    main {
        section {
            height: 100vh;
            height: 100dvh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            &:nth-child(1) {
                align-items: center;
                justify-content: center;
                h1 {
                    font-size: clamp(2rem, 5vw, 3rem);
                    font-weight: bold;
                    user-select: none;
                    font-family: "Playfair Display", serif;
                }
                img {
                    width: 100%;
                    height: auto;

                    @media (min-width: 768px) {
                        width: 80%;
                    }
                    @media (min-width: 1024px) {
                        width: 60%;
                    }
                }
                p {
                    font-size: clamp(1.6rem, 3vw, 2rem);
                    font-family: "Playfair Display", serif;
                    font-style: italic;
                    font-weight: 400;
                    user-select: none;
                    margin-top: 1.2rem;
                }
            }
        }
    }
}
